/* 
 Bhakti patel 8912260
*/
body{
    font: normal normal normal 16px/1.5  verdana, arial, helvetica, sans-serif;
    width: 100vh;
    height: 100vw;
    background-color: hsla(278,50%, 80%, 1);
}
h2
{
    font-size: 2rem; /*will be 24 pexels*/  
    color: #fc9;
}







